.gm-style-pbc
{
	transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center
}

.gm-style-pbt
{
	font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)
}

.gm-style img
{
	max-width: none;
}

.gm-style 
{
	font: 400 11px Roboto, Arial, sans-serif; text-decoration: none;
}